<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head('SagMirJa', 'none')}">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
<div class="container-fluid">

	<div th:replace="~{navigation :: header_menu}"></div>
	
		<div class="m-5">
			<h2 class="mt-5">Datenschutzrichtlinien von SagMirJa</h2>
			<hr/><br>
				<div class="ml-5"><a href="#0">Bitte lesen Sie es sorgfältig durch !	</a></div>
				<div class="ml-5"><a href="#1">1. Persönlicher Datenverantwortlicher</a></div>
				<div class="ml-5"><a href="#2">2. Kategorien der Perzonenbezogenen Daten, die wir erfassen </a></div>
				<div class="ml-5"><a href="#3">3. Zu welchen Zwecken wir die Personenbezogene Daten verarbeiten</a></div>
				<div class="ml-5"><a href="#4">4. Aufgrund welcher Rechtsgrundlagen verarbeiten wir ihre personenbezogene Daten (Gilt nur für im EWR ansässige Nutzer)</a></div>
				<div class="ml-5"><a href="#5">5. Mit wem wir ihre persononbezogenen Daten teilen</a></div>
				<div class="ml-5"><a href="#6">6. Sie ihre Datenschutzrechte ausüben können</a></div>
				<div class="ml-5"><a href="#7">7. Altersbeschränkung</a></div>
				<div class="ml-5"><a href="#8">8. Internationale Datenübertragungen</a></div>
				<div class="ml-5"><a href="#9">9. Änderungen an dieser Datenschutzrichtlinie</a></div>
				<div class="ml-5"><a href="#10">10. Datenschutzrechte in Deutschland</a></div>
				<div class="ml-5"><a href="#11">11. Datenspeicherung</a></div>
				<div class="ml-5"><a href="#12">12. Wie "Do not track"-Anfragen behandelt werden</a></div>
				<div class="ml-5"><a href="#13">13. Kontaktieren Sie uns </a></div>
			<div>
				<br><br>
				<p class="pt-5" id="0"><b></b></p><hr>
				<p>Um die Website von SagMirJa (https://sagmirja.de) nutzen zu können, werden wir Sie bitten, sich per E-Mail oder Facebook anzumelden und Ihren Namen, Ihr Geburtsdatum, Ihr Geschlecht, Ihren Familienstand, Ihr Land und Ihre Stadt einzugeben. Wir erfassen außerdem automatisch von Ihrem Gerät Spracheinstellungen, IP-Adresse, Zeitzone, Typ und Modell eines Geräts, Geräteeinstellungen, Betriebssystem, Internetdienstanbieter, Mobilfunkanbieter, Hardware-ID und andere eindeutige Kennungen (wie IDFA und AAID). . Wir benötigen diese Daten, um unsere Dienste bereitzustellen, zu analysieren, wie unsere Kunden die Website nutzen, und um Werbung zu schalten.</p>
				<p>	Zur Verbesserung der Website und zur Schaltung von Werbung können wir diese Daten an Dritte weitergeben. Zu diesen Parteien gehören Facebook und Google. Durch die Weitergabe dieser Daten an Dritte analysieren wir (1) verschiedene Interaktionen (wie oft tätigen Nutzer Einkäufe, wie viele unserer Nutzer sind Frauen); (2) Anzeigen schalten und messen (und sie nur einer bestimmten Benutzergruppe, beispielsweise männlichen Benutzern, anzeigen können).</p>
				<p>	Wenn Sie auf der Website ein Konto erstellen und Ihre Religion und ethnische Zugehörigkeit auswählen, machen Sie diese Informationen offensichtlich anderen Benutzern der Website zugänglich. Auf dieser Grundlage werden wir diese Daten verarbeiten. Sie können diese Fragen jedoch bei der Registrierung überspringen – dies hat keinen Einfluss auf Ihr Erlebnis. Weitere Einzelheiten finden Sie in Abschnitt 5.</p>
				<p>	Bitte lesen Sie unsere Datenschutzrichtlinie unten, um mehr darüber zu erfahren, was wir mit Daten tun (Abschnitt 3), welche Datenschutzrechte Ihnen zustehen (Abschnitt 6), wer der Datenverantwortliche ist (Abschnitt 1) und wie Sie personalisierte Werbung beeinflussen können (Absatz 3.7).</p>
				<p> Sollten Fragen unbeantwortet bleiben, kontaktieren Sie uns bitte unter https://admin.sagmirja.de</p>
				<br/><br/>
					
				<b>DATENSCHUTZRICHTLINIE</b>	
				<p>	In dieser Datenschutzrichtlinie wird erläutert, welche personenbezogenen Daten erfasst werden, wenn Sie die Website und die über sie bereitgestellten Dienste nutzen (zusammen mit der Website der „Dienst“), wie diese personenbezogenen Daten verwendet und weitergegeben werden.</p>
				<p>	Diese Datenschutzrichtlinie wurde in englischer Sprache verfasst. Sie erklären sich damit einverstanden, dass im Falle einer Diskrepanz zwischen der Version der Datenschutzrichtlinie in Englisch und einer anderen Sprache die hier verfügbare englische Version: [Link] Vorrang hat.</p>
				<p>	Durch die Nutzung des Dienstes versprechen Sie uns, dass (i) Sie diese Datenschutzerklärung gelesen, verstanden und ihr zugestimmt haben und (ii) Sie über 18 Jahre alt sind (oder dass Ihre Eltern oder Erziehungsberechtigten diese Datenschutzerklärung gelesen haben und ihr zustimmen). FÜR SIE). Wenn Sie dieser Zusage nicht zustimmen oder nicht in der Lage sind, diese zu geben, dürfen Sie den Dienst nicht nutzen. In diesem Fall müssen Sie uns kontaktieren und die Löschung Ihrer Daten beantragen.</p>
					
				<p>	„DSGVO“ bezeichnet die Datenschutz-Grundverordnung (EU) 2016/679 des Europäischen Parlaments und des Rates vom 27. April 2016 zum Schutz natürlicher Personen bei der Verarbeitung personenbezogener Daten und zum freien Datenverkehr.</p>
				<p>	„EWR“ umfasst alle derzeitigen Mitgliedstaaten der Europäischen Union und des Europäischen Wirtschaftsraums.</p>
				<p>	„Verarbeiten“ umfasst in Bezug auf personenbezogene Daten das Sammeln, Speichern und Offenlegen gegenüber anderen.</p>
									
				<br/>
				
				
				<p class="pt-5" id="1"><b>1.  PERSÖNLICHER DATENVERANTWORTLICHER</b></p><hr>
				SagMirJa, ein nach deutsche Recht ordnungsgemäß eingetragenes und rechtsgültig bestehendes Unternehmen, Registrierungsnummer HE446001, mit Sitz in Büro 203, Kopenhagener Str. 29, 13407 Berlin, Deutschland.
				<br/><br/>
				
				<p class="pt-5" id="2"><b>2. KATEGORIEN PERSONENBEZOGENER DATEN, DIE WIR SAMMELN</b></p>
				<hr>
				Wir erheben Daten, die Sie uns freiwillig mitteilen (z. B. E-Mail-Adresse, Name, Geschlecht, Geburtsdatum, Familienstand, Land, Stadt). Wir erfassen auch automatisch Daten (z. B. Ihre IP-Adresse, Gerätetyp usw.).
				<br/>
				
				<p><b>2.1. Daten, die Sie uns geben</b></p>
				Sie geben uns Informationen über sich selbst, wenn Sie sich für den Dienst registrieren und/oder ihn nutzen, z. B. Ihr Foto, Ihre E-Mail-Adresse, Ihren Namen, Ihr Geburtsdatum (Alter), Ihr Geschlecht, Ihren Familienstand, Ihre Stadt, Ihr Land. Sie können auch optionale Informationen angeben, z. B. ob Sie Kinder haben oder keine Kinder haben, ob Sie Kinder haben möchten, Ihre Größe, Ihr Gewicht, Ihre Einstellung zum Rauchen und Trinken, Ihre Ausbildung, Sprachen, Interessengebiete, Tätigkeitsfeld, Beruf, Beruf Status, Religion und ethnische Zugehörigkeit. Diese Informationen sind für Website-Benutzer öffentlich. Möglicherweise bitten wir Sie auch, Fragen zu Lebensstil und Beziehungen zu beantworten.
				<br/>
				
				<p><b>2.2. Daten, die uns von Dritten zur Verfügung gestellt werden</b></p>
				Wenn Sie sich entscheiden, sich über Facebook anzumelden, erhalten wir personenbezogene Daten von Ihrem Facebook-Konto. Dazu gehören Ihr Profilbild, Ihr Name und Ihre Facebook-ID. Sofern Sie sich nicht auf dem Facebook-Anmeldebildschirm abmelden, erfassen wir auch andere Daten, wie E-Mail-Adresse, Fotos, Geschlecht, Geburtsdatum.
				Weitere Informationen finden Sie in der Facebook-Berechtigungsreferenz (beschreibt die Kategorien von Informationen, die Facebook an Dritte weitergeben darf, sowie die Anforderungen) und in der Facebook-Datenrichtlinie. Darüber hinaus ermöglicht Ihnen Facebook auf der Seite „Apps und Websites“ die Kontrolle über die Entscheidungen, die Sie bei der Verknüpfung Ihres Facebook-Profils mit der Website getroffen haben.				
				<br/><br/>
				
				<p><b>2.3. Daten, die wir automatisch erfassen:</b></p>
				
				<p><b>2.3.1. Daten darüber, wie Sie uns gefunden haben</b></p>
				Wir erfassen Daten über Ihre verweisende URL (d. h. den Ort im Web, an dem Sie sich befanden, als Sie auf unsere Anzeige getippt haben).
				<br/><br/>
								
				<p><b>2.3.2. Geräte- und Standortdaten</b></p>
				Wir erfassen Daten von Ihrem Gerät. Beispiele für solche Daten sind: Spracheinstellungen, IP-Adresse, Standort, Zeitzone, Typ und Modell eines Geräts, Geräteeinstellungen, Betriebssystem, Internetdienstanbieter, Mobilfunkanbieter, Hardware-ID und Facebook-ID.				
				<br/><br/>
								
				<p><b>2.3.3. Nutzungsdaten</b></p>
				Wir zeichnen auf, wie Sie mit unserem Service interagieren. Beispielsweise protokollieren wir Ihr Tippen/Klicken auf bestimmte Bereiche der Benutzeroberfläche, die Funktionen und Inhalte, mit denen Sie interagieren, wie oft Sie die Website nutzen, wie lange Sie auf der Website bleiben, welche Abschnitte Sie nutzen und Ihre Abonnementbestellungen.
				<br/><br/>
				
				<p><b>2.3.4. Werbe-IDs</b></p>
				Wir erfassen Ihre Apple Identifier for Advertising („IDFA“) oder Google Advertising ID („AAID“) (abhängig vom Betriebssystem Ihres Geräts). Normalerweise können Sie diese Zahlen über die Einstellungen des Betriebssystems Ihres Geräts zurücksetzen (wir haben jedoch keinen Einfluss darauf).
				<br/><br/>
				
				<p><b>2.3.5. Transaktionsdaten</b></p>
				Wenn Sie Zahlungen über den Dienst tätigen, müssen Sie unseren Drittanbietern Finanzkontodaten, wie z. B. Ihre Kreditkartennummer, zur Verfügung stellen. Wir erfassen oder speichern keine vollständigen Kreditkartennummerndaten, können jedoch kreditkartenbezogene Daten und Daten über die Transaktion erhalten, darunter: Datum, Uhrzeit und Betrag der Transaktion sowie die Art der verwendeten Zahlungsmethode.
				<br/><br/>
				
				<p><b>2.3.6. Cookies</b></p>
				Ein Cookie ist eine kleine Textdatei, die zu Aufzeichnungszwecken auf dem Computer eines Benutzers gespeichert wird. Cookies können entweder Sitzungscookies oder dauerhafte Cookies sein. Ein Sitzungscookie läuft ab, wenn Sie Ihren Browser schließen, und wird verwendet, um Ihnen die Navigation in unserem Service zu erleichtern. Ein dauerhaftes Cookie verbleibt für einen längeren Zeitraum auf Ihrer Festplatte. Wir verwenden auch Tracking-Pixel, die Cookies setzen, um die Bereitstellung von Online-Werbung zu unterstützen.
				Cookies dienen insbesondere dazu, Sie bei Ihrem nächsten Besuch auf unserer Website automatisch wiederzuerkennen. Daher können die Informationen, die Sie zuvor in bestimmte Felder auf der Website eingegeben haben, bei der nächsten Nutzung unseres Dienstes automatisch angezeigt werden. Cookie-Daten werden auf Ihrem Gerät gespeichert, meist nur für einen begrenzten Zeitraum.				
				<br/><br/>
				
			
				<p class="pt-5" id="3"><b>3. ZU WELCHEN ZWECKEN WIR IHRE PERSONENBEZOGENEN DATEN VERARBEITEN</b></p>
				<hr>
				Wir verarbeiten Ihre personenbezogenen Daten:
				<br/>
				
				<p><b>3.1. Um unseren Service bereitzustellen</b></p>
				Dazu gehört es, Ihnen eine reibungslose Nutzung des Dienstes zu ermöglichen und Dienstfehler oder technische Probleme zu verhindern oder zu beheben.
				Um personenbezogene Daten zu hosten und den Betrieb und die Verbreitung unserer Website zu ermöglichen, nutzen wir Servers.com, einen Hosting- und Backend-Dienst.
				<br/><br/>
				
				
				<p class="pt-5"><b>* Um Ihr Erlebnis individuell anzupassen</b></p>
				<hr>
				Wir verarbeiten Ihre personenbezogenen Daten, um den Inhalt des Dienstes anzupassen und Ihnen Angebote zu unterbreiten, die auf Ihre persönlichen Vorlieben zugeschnitten sind. Durch eine solche Verarbeitung können wir Ihnen gleichaltrige (oder fast gleichaltrige) Nutzer sowie Nutzer anzeigen, die Ihren Präferenzen entsprechen.
				<br/><br/>
					
				<p class="pt-5"><b>* Um Ihr Konto zu verwalten und Ihnen Kundensupport zu bieten</b></p>
				<hr>
				Wir verarbeiten Ihre personenbezogenen Daten, um auf Ihre Anfragen nach technischem Support, Serviceinformationen oder auf jede andere von Ihnen initiierte Kommunikation zu antworten. Zu diesem Zweck können wir Ihnen beispielsweise Benachrichtigungen über die Leistung unseres Dienstes, Sicherheit, Zahlungsvorgänge, Hinweise zu unserer Lizenzvereinbarung oder dieser Datenschutzrichtlinie senden.
				<br/><br/>
				 
				<p class="pt-5"><b>* Um mit Ihnen über Ihre Nutzung unseres Dienstes zu kommunizieren</b></p>
				<hr>
				Wir können mit Ihnen beispielsweise per E-Mail kommunizieren. Dazu können Erinnerungen oder andere Informationen über die Website gehören. Infolgedessen erhalten Sie möglicherweise eine E-Mail-Benachrichtigung, dass neue Funktionen auf der Website implementiert werden. Wenn Sie keine E-Mails von uns erhalten möchten, können Sie sich gemäß den Anweisungen in der Fußzeile der E-Mails abmelden.
				Die Dienste, die wir für diese Zwecke nutzen, können Daten über das Datum und die Uhrzeit sammeln, zu der die Nachricht von den Benutzern unserer Website angesehen wurde, sowie über den Zeitpunkt, zu dem sie damit interagierten, beispielsweise durch Klicken auf in der Nachricht enthaltene Links.
				<br/><br/>
				 
				<p class="pt-5"><b>* Um Ihre Nutzung des Dienstes zu untersuchen und zu analysieren</b></p>
				<hr>
				Dies hilft uns, unser Geschäft besser zu verstehen, unsere Abläufe zu analysieren, die Website und unsere neuen Produkte zu warten, zu verbessern, zu innovieren, zu planen, zu entwerfen und zu entwickeln. Darüber hinaus nutzen wir diese Daten für statistische Auswertungszwecke, um unsere Angebote zu testen und zu verbessern. Dadurch können wir besser verstehen, welche Funktionen und Abschnitte der Website unseren Benutzern am besten gefallen und welche Benutzerkategorien unsere Website nutzen. Daher entscheiden wir oft auf Grundlage der Ergebnisse dieser Verarbeitung, wie wir die Website verbessern können. Wenn wir beispielsweise feststellen, dass Benutzer bestimmte Funktionen der Website nicht nutzen, können wir uns auf die Verbesserung dieser Funktionen konzentrieren.
				
				Um zu analysieren, wie Besucher den Dienst nutzen und um die Wirksamkeit einiger Anzeigen zu messen, verwenden wir Google Analytics, ein Webanalyseprogramm von Google. Bei Google Analytics erhalten wir insbesondere Informationen über die von Ihnen auf unserer Website eingegebenen Daten und die Interaktionen der Nutzer innerhalb der Website. Google ermöglicht Ihnen insbesondere durch die Installation eines hier verfügbaren Browser-Plugins, Einfluss auf die Erfassung und Verarbeitung der von Google erzeugten Informationen zu nehmen. Mehr darüber, wie Google die Informationen verwendet, können Sie hier lesen.
				Wir nutzen Facebook Analytics, einen Dienst von Facebook, der uns den Einsatz verschiedener Analysetools ermöglicht. Bei Facebook Analytics erhalten wir insbesondere aggregierte demografische Daten und Erkenntnisse darüber, wie viele Personen unsere Website besuchen, wie oft Benutzer Einkäufe tätigen und andere Interaktionen. Erfahren Sie mehr über den Umgang von Facebook mit Daten in der Datenschutzrichtlinie.
				Wir verwenden Google Maps, um Ihr Verhalten auf unserer Website zu verfolgen. Insbesondere hilft es uns dabei, Daten über Ihre Klicks und Tippvorgänge, Mausbewegungen und Scrollvorgänge zu sammeln und Ihre Aktionen zu verfolgen, um ein vollständiges Bild davon zu erhalten, was auf der Website passiert, damit wir Möglichkeiten zur Verbesserung Ihrer Benutzererfahrung identifizieren können. Google Maps-Datenschutzrichtlinie.
				<br/><br/>
				 
				<p class="pt-5"><b>* Um Ihnen Marketingmitteilungen zu senden</b></p>
				<hr>
				Wir verarbeiten Ihre personenbezogenen Daten für unsere Marketingkampagnen. Wir können Ihre E-Mail-Adresse zu unserer Marketingliste hinzufügen. Dadurch erhalten Sie Informationen zu unseren Produkten, wie zum Beispiel Sonderangebote. Wenn Sie keine Marketing-E-Mails von uns erhalten möchten, können Sie sich gemäß den Anweisungen in der Fußzeile der Marketing-E-Mails abmelden.
				Wir nutzen Firebase, einen E-Mail- und Push-Benachrichtigungsdienst.
				<br/><br/>
				
				<p class="pt-5"><b>* Um unsere Anzeigen zu personalisieren</b></p>
				<hr>
				Wir und unsere Partner nutzen Ihre personenbezogenen Daten, um Werbeanzeigen maßzuschneidern und Ihnen diese ggf. sogar zum relevanten Zeitpunkt anzuzeigen. Wenn Sie beispielsweise unsere Website installiert haben, sehen Sie möglicherweise Anzeigen für unsere Produkte, beispielsweise in Ihrem Facebook-Feed.
				
				Wir können über eine Vielzahl von Werbenetzwerken und Börsen gezielt Werbung an Sie richten und dabei Daten aus Werbetechnologien innerhalb und außerhalb unserer Dienste verwenden, wie z. B. eindeutige Cookies oder ähnliche Tracking-Technologien, Pixel, Gerätekennungen, Geolokalisierung, Informationen zum Betriebssystem und E-Mail.
				So können Sie personalisierte Werbung deaktivieren oder beeinflussen
				iOS: Gehen Sie auf Ihrem iPhone oder iPad zu „Einstellungen“, dann „Datenschutz“ und tippen Sie auf „Werbung“, um „Anzeigenverfolgung beschränken“ auszuwählen. Darüber hinaus können Sie im selben Abschnitt Ihre Werbekennung zurücksetzen (dies kann Ihnen auch dabei helfen, weniger personalisierte Anzeigen zu sehen).
				Android: Um die Werbung auf einem Android-Gerät zu deaktivieren, öffnen Sie einfach die Google-Einstellungen-App auf Ihrem Mobiltelefon, tippen Sie auf „Anzeigen“ und aktivieren Sie „Interessenbezogene Werbung deaktivieren“. Darüber hinaus können Sie im selben Abschnitt Ihre Werbekennung zurücksetzen (dies kann Ihnen auch dabei helfen, weniger personalisierte Werbung zu sehen).
				Um noch mehr darüber zu erfahren, wie Sie die Werbeauswahl auf verschiedenen Geräten beeinflussen können, schauen Sie sich bitte die hier verfügbaren Informationen an.
				Browser: Möglicherweise können Sie Ihren Browser auch ganz davon abhalten, Cookies zu akzeptieren, indem Sie die Cookie-Einstellungen Ihres Browsers ändern. Normalerweise finden Sie diese Einstellungen im Menü „Optionen“ oder „Einstellungen“ Ihres Browsers. Die folgenden Links können hilfreich sein, oder Sie können die Option „Hilfe“ in Ihrem Browser verwenden.
				• Cookie-Einstellungen im Internet Explorer
				• Cookie-Einstellungen in Firefox
				• Cookie-Einstellungen in Chrome
				• Cookie-Einstellungen in Safari Web und iOS
				Wir legen Wert auf Ihr Recht, die Werbung, die Sie sehen, zu beeinflussen. Deshalb informieren wir Sie darüber, welche Dienstleister wir zu diesem Zweck nutzen und wie Sie bei einigen von ihnen Ihre Werbepräferenzen steuern können.
				
				Google Ads ist ein von Google bereitgestellter Anzeigenbereitstellungsdienst, mit dem Nutzer Anzeigen geschaltet werden können. Google ermöglicht es uns insbesondere, die Anzeigen so anzupassen, dass sie beispielsweise nur den Nutzern angezeigt werden, die bestimmte Aktionen auf unserer Website durchgeführt haben (z. B. unsere Anzeigen Nutzern zeigen, die kein Abonnement erworben haben). Google bietet seinen Nutzern die Möglichkeit, die personalisierte Werbung von Google zu deaktivieren und die Verwendung ihrer Daten durch Google Analytics zu verhindern.
				Wir verwenden den Facebook Ads Manager zusammen mit Facebook Custom Audience, wodurch wir Zielgruppen auswählen können, die unsere Anzeigen auf Facebook oder anderen Facebook-Produkten (z. B. Instagram) sehen. Über Facebook Custom Audience können wir eine Liste von Benutzern mit bestimmten Datensätzen erstellen, z. B. eine IDFA, und Benutzer auswählen, die bestimmte Aktionen auf der Website durchgeführt haben. Daher kann es sein, dass wir Facebook bitten, einer bestimmten Benutzerliste einige Anzeigen zu zeigen. Daher werden möglicherweise mehr unserer Anzeigen geschaltet, während Sie Facebook oder andere Facebook-Produkte (z. B. Instagram) nutzen. Hier erfahren Sie, wie Sie die Werbung, die Ihnen über Facebook Custom Audience bereitgestellt wird, deaktivieren können.
				Facebook ermöglicht seinen Nutzern außerdem, Einfluss darauf zu nehmen, welche Art von Werbung sie auf Facebook sehen. Um zu erfahren, wie Sie die Werbung steuern können, die Sie auf Facebook sehen, klicken Sie bitte hier oder passen Sie Ihre Werbeeinstellungen auf Facebook an.
				Affise bietet eine Performance-Marketing-Plattform, mit der wir unsere Werbekampagnen verwalten, verfolgen, analysieren und optimieren. Datenschutzrichtlinie.
				<br/><br/>
				 
				<p class="pt-5"><b>* Um unsere Lizenzvereinbarung durchzusetzen und Betrug zu verhindern und zu bekämpfen</b></p>
				<hr>
				Wir nutzen personenbezogene Daten zur Durchsetzung unserer Vereinbarungen und vertraglichen Verpflichtungen sowie zur Aufdeckung, Verhinderung und Bekämpfung von Betrug. Aufgrund einer solchen Verarbeitung geben wir Ihre Daten möglicherweise an andere weiter, einschließlich Strafverfolgungsbehörden (insbesondere, wenn es zu Streitigkeiten im Zusammenhang mit unserer Lizenzvereinbarung kommt).
				<br/> <br/>
				 
				<p class="pt-5" ><b>* Zur Einhaltung gesetzlicher Verpflichtungen</b></p>
				<hr>
				Wir können Ihre Daten verarbeiten, nutzen oder weitergeben, wenn das Gesetz dies erfordert, insbesondere wenn eine Strafverfolgungsbehörde Ihre Daten mit verfügbaren rechtlichen Mitteln anfordert.
				<br/><br/>
				
				<p class="pt-5" id="4"><b>4. AUFGRUND WELCHER RECHTSGRUNDLAGEN VERARBEITEN WIR IHRE PERSONENBEZOGENEN DATEN (gilt nur für im EWR ansässige Nutzer)</b></p>
				<hr>
				In diesem Abschnitt informieren wir Sie darüber, welche Rechtsgrundlage wir für den jeweiligen Verarbeitungszweck nutzen. Weitere Informationen zu einem bestimmten Zweck finden Sie in Abschnitt 3. Dieser Abschnitt gilt nur für im EWR ansässige Benutzer.
				<br/><br/>
								
				<p><b>4.1. Wir verarbeiten Ihre personenbezogenen Daten auf Grundlage der folgenden </b></p>
				Rechtsgrundlagen:
								
				<p><b>4.1.1. Ihre Einwilligung;</b></p>
								
				<p><b>4.1.2. um unseren Vertrag mit Ihnen zu erfüllen;</b></p>
				Auf dieser Rechtsgrundlage:
				• Bereitstellung unseres Dienstes (gemäß unserer Lizenzvereinbarung)
				• Passen Sie Ihr Erlebnis individuell an
				• Bieten Ihnen Kundensupport
				• Mit Ihnen über Ihre Nutzung unseres Dienstes kommunizieren
				• Verarbeiten Sie Ihre Zahlungen				
				<br/><br/>
								
				<b>4.1.3. </b>
				Für unsere (oder die anderer) berechtigten Interessen, es sei denn, diese Interessen werden durch Ihre Interessen oder Grundrechte und Grundfreiheiten, die den Schutz personenbezogener Daten erfordern, außer Kraft gesetzt;
				Wir berufen uns auf berechtigte Interessen:
				• um mit Ihnen über Ihre Nutzung unseres Dienstes zu kommunizieren
				Dazu gehört beispielsweise das Versenden von E-Mails an Sie. Das berechtigte Interesse, auf das wir uns zu diesem Zweck berufen, ist unser Interesse, Sie zu einer häufigeren Nutzung unseres Dienstes zu ermutigen. Dabei berücksichtigen wir auch die potenziellen Vorteile für Sie.
				• um Ihre Nutzung des Dienstes zu untersuchen und zu analysieren
				Unser berechtigtes Interesse zu diesem Zweck ist unser Interesse an der Verbesserung unseres Dienstes, damit wir die Präferenzen der Benutzer verstehen und Ihnen ein besseres Erlebnis bieten können (z. B. um die Nutzung der Website einfacher und angenehmer zu gestalten oder um sie einzuführen). neue Funktionen testen).
				• um Ihnen Marketingmitteilungen zuzusenden
				Das berechtigte Interesse, auf das wir uns bei dieser Verarbeitung berufen, ist unser Interesse, unseren Service maßvoll und angemessen zu bewerben.
				• um unsere Anzeigen zu personalisieren
				Das berechtigte Interesse, auf das wir uns bei dieser Verarbeitung berufen, ist unser Interesse, unseren Service angemessen gezielt zu bewerben.
				• um unsere Lizenzvereinbarung durchzusetzen und Betrug zu verhindern und zu bekämpfen
				Unsere berechtigten Interessen zu diesem Zweck sind die Durchsetzung unserer gesetzlichen Rechte, die Verhinderung und Bekämpfung von Betrug und unbefugter Nutzung des Dienstes sowie die Nichteinhaltung unserer Lizenzvereinbarung.
				
				<br/><br/>
								
				<p><b>4.1.4. zur Einhaltung gesetzlicher Verpflichtungen.</b></p>
				<b>4.2. </b>
				Wir verarbeiten besondere Kategorien personenbezogener Daten, wie z. B. Religion und ethnische Zugehörigkeit, auf der Grundlage, dass Sie diese Daten offenkundig öffentlich machen.
				<br/><br/>
				
				<p class="pt-5" id="5"><b>5. MIT WEM WIR IHRE PERSONENBEZOGENEN DATEN TEILEN</b></p>
				<hr>
				Wir geben Informationen an Dritte weiter, die uns dabei helfen, unseren Service zu betreiben, bereitzustellen, zu verbessern, zu integrieren, anzupassen, zu unterstützen und zu vermarkten. Wir können einige personenbezogene Daten insbesondere für die in Abschnitt 3 dieser Datenschutzrichtlinie genannten Zwecke und an die in Abschnitt 3 dieser Datenschutzrichtlinie genannten Parteien weitergeben. Zu den Arten von Dritten, mit denen wir Informationen teilen, gehören insbesondere:
				<br/><br/>
								
				<p><b>5.1. Dienstleister</b></p>
				Wir geben personenbezogene Daten an Dritte weiter, die wir auf der Grundlage unserer Anweisungen mit der Erbringung von Dienstleistungen oder der Durchführung von Geschäftsfunktionen in unserem Namen beauftragen. Wir können Ihre personenbezogenen Daten an die folgenden Arten von Dienstleistern weitergeben:
				• Cloud-Speicheranbieter (Servers.com)
				• Datenanalyseanbieter (Facebook, Google, Firebase)
				• Marketingpartner (insbesondere soziale Netzwerke, Marketingagenturen, E-Mail-Versanddienste; Facebook, Google, Firebase)
				• Zahlungsabwicklungsanbieter (solide)				
				<br/><br/>
								
				<p><b>5.2. Strafverfolgungsbehörden und andere öffentliche Behörden</b></p>
				Wir können personenbezogene Daten verwenden und offenlegen, um unsere Lizenzvereinbarung durchzusetzen, unsere Rechte, Privatsphäre, Sicherheit oder unser Eigentum und/oder die unserer verbundenen Unternehmen, Ihnen oder anderen zu schützen und auf Anfragen von Gerichten, Strafverfolgungsbehörden und Aufsichtsbehörden zu reagieren Agenturen und andere öffentliche und staatliche Behörden oder in anderen gesetzlich vorgesehenen Fällen.
				<br/><br/>
								
				<p><b>5.3. Dritte im Rahmen einer Fusion oder Übernahme</b></p>
				Während wir unser Geschäft weiterentwickeln, können wir Vermögenswerte oder Geschäftsangebote kaufen oder verkaufen. Kundendaten zählen bei derartigen Transaktionen in der Regel zu den übertragenen Unternehmenswerten. Wir können solche Informationen auch an verbundene Unternehmen (z. B. Mutter- oder Tochtergesellschaften) weitergeben und diese Informationen im Rahmen einer Unternehmenstransaktion, wie z. B. dem Verkauf unseres Unternehmens, einer Veräußerung, Fusion, Konsolidierung oder dem Verkauf von Vermögenswerten, weitergeben im unwahrscheinlichen Fall einer Insolvenz.
				<br/><br/>
				
				<p class="pt-5" id="6"><b>6. WIE SIE IHRE RECHTE AUSÜBEN KÖNNEN</b></p>
				<hr>
				Um die Kontrolle über Ihre personenbezogenen Daten zu behalten, haben Sie folgende Rechte:
				Zugriff auf/Überprüfung/Aktualisierung/Korrektur Ihrer personenbezogenen Daten. Sie können unter https://admin.sagmirja.de eine Kopie Ihrer während Ihrer Nutzung des Dienstes erfassten personenbezogenen Daten anfordern sowie diese aktualisieren und berichtigen.
				Löschen Ihrer persönlichen Daten. Sie können die Löschung Ihrer personenbezogenen Daten beantragen, indem Sie eine Anfrage an https://admin.sagmirja.de senden.
				Wenn Sie die Löschung Ihrer personenbezogenen Daten per E-Mail beantragen, werden wir angemessene Anstrengungen unternehmen, um Ihrer Anfrage nachzukommen. In einigen Fällen sind wir möglicherweise gesetzlich dazu verpflichtet, einige der Daten für einen bestimmten Zeitraum aufzubewahren; In diesem Fall werden wir Ihrer Anfrage nachkommen, nachdem wir unseren Verpflichtungen nachgekommen sind.
				Widerspruch oder Einschränkung der Nutzung Ihrer personenbezogenen Daten. Sie können uns bitten, die Nutzung Ihrer personenbezogenen Daten ganz oder teilweise einzustellen oder deren Nutzung einzuschränken, indem Sie eine Anfrage an https://admin.sagmirja.de senden.
				Wenn Sie im EWR ansässig sind, haben Sie zusätzlich zu den oben genannten Rechten die folgenden Rechte:
				Das Recht, eine Beschwerde bei der Aufsichtsbehörde einzureichen. Wir würden uns freuen, wenn Sie uns direkt kontaktieren, damit wir auf Ihr Anliegen eingehen können. Sie haben jedoch das Recht, eine Beschwerde bei einer zuständigen Datenschutzaufsichtsbehörde einzureichen, insbesondere in dem EU-Mitgliedstaat, in dem Sie wohnen, arbeiten oder in dem der mutmaßliche Verstoß stattgefunden hat.
				Das Recht auf Datenübertragbarkeit. Wenn Sie Ihre personenbezogenen Daten in einem maschinenlesbaren Format erhalten möchten, können Sie eine entsprechende Anfrage an https://admin.sagmirja.de senden.
								
				<br/><br/>
				
				<p class="pt-5" id="7"><b>7. ALTERSBESCHRÄNKUNG</b></p>
				<hr>
				Wir verarbeiten wissentlich keine personenbezogenen Daten von Personen unter 18 Jahren. Wenn Sie erfahren, dass uns eine Person unter 18 Jahren personenbezogene Daten zur Verfügung gestellt hat, kontaktieren Sie uns bitte unter https://admin.sagmirja.de.
				<br/><br/>
				
				<p class="pt-5" id="8"><b>8. INTERNATIONALE DATENÜBERTRAGUNGEN</b></p>
				<hr>
				Wir können personenbezogene Daten in andere Länder als das Land übermitteln, in dem die Daten ursprünglich erfasst wurden, um den in der Lizenzvereinbarung dargelegten Dienst bereitzustellen und für die in dieser Datenschutzrichtlinie angegebenen Zwecke. Wenn in diesen Ländern nicht die gleichen Datenschutzgesetze gelten wie in dem Land, in dem Sie die Informationen ursprünglich bereitgestellt haben, ergreifen wir besondere Sicherheitsmaßnahmen.
				Insbesondere wenn wir personenbezogene Daten aus dem EWR in Länder mit nicht angemessenem Datenschutzniveau übermitteln, nutzen wir eine der folgenden Rechtsgrundlagen: (i) von der Europäischen Kommission genehmigte Standardvertragsklauseln (Einzelheiten finden Sie hier) oder ( ii) die Angemessenheitsentscheidungen der Europäischen Kommission für bestimmte Länder (Einzelheiten finden Sie hier).				
				<br/><br/>
				
				<p class="pt-5" id="9"><b>9. ÄNDERUNGEN AN DIESER DATENSCHUTZRICHTLINIE</b></p>
				<hr>
				Wir können diese Datenschutzrichtlinie von Zeit zu Zeit ändern. Wenn wir beschließen, wesentliche Änderungen an dieser Datenschutzrichtlinie vorzunehmen, werden Sie über unseren Dienst oder auf andere verfügbare Weise benachrichtigt und haben die Möglichkeit, die überarbeitete Datenschutzrichtlinie einzusehen. Indem Sie nach Inkrafttreten dieser Änderungen weiterhin auf den Dienst zugreifen oder ihn nutzen, erklären Sie sich damit einverstanden, an die überarbeitete Datenschutzrichtlinie gebunden zu sein.
				<br/><br/>
				
				<p class="pt-5" id="10"><b>10. DATENSCHUTZRECHTE IN DEUTSCHLAND</b></p>
				<hr>
				Das deutsche „Shine the Light“-Gesetz gibt den Einwohnern Deutschlands das Recht, Unternehmen einmal im Jahr zu fragen, welche personenbezogenen Daten sie an Dritte für deren Direktmarketingzwecke weitergeben. Erfahren Sie mehr darüber, was im Sinne des Gesetzes als personenbezogene Daten gilt.
				Um diese Informationen von uns zu erhalten, senden Sie bitte eine Anfrage an https://admin.sagmirja.de, die in der Betreffzeile „Request for California Privacy Information“ und Ihren Wohnsitzstaat enthält und E-Mail-Adresse im Text Ihrer Nachricht. Wenn Sie in Kalifornien ansässig sind, stellen wir Ihnen als Antwort die angeforderten Informationen an Ihre E-Mail-Adresse zur Verfügung.				
				<br/><br/>
				
				<p class="pt-5" id="11"><b>11. DATENSPEICHERUNG</b></p>
				<hr>
				Wir speichern Ihre personenbezogenen Daten so lange, wie es für die Erreichung der in dieser Datenschutzrichtlinie dargelegten Zwecke (einschließlich der Bereitstellung des Dienstes für Sie) vernünftigerweise erforderlich ist. Wir werden Ihre personenbezogenen Daten auch speichern und verwenden, soweit dies erforderlich ist, um unseren gesetzlichen Verpflichtungen nachzukommen, Streitigkeiten beizulegen und unsere Vereinbarungen durchzusetzen.
				<br/><br/>
				
				<p class="pt-5" id="12"><b>12. WIE „DO NOT TRACK“-ANFRAGEN BEHANDELT WERDEN</b></p>
				<hr>
				Sofern in dieser Datenschutzrichtlinie nicht anders angegeben, unterstützt diese Website keine „Do Not Track“-Anfragen. Um festzustellen, ob die von uns genutzten Dienste Dritter die „Do Not Track“-Anforderungen berücksichtigen, lesen Sie bitte deren Datenschutzrichtlinien.
				<br/><br/>
				
				<p class="pt-5" id="13"><b>13. KONTAKTIEREN SIE UNS </b></p>
				<hr>
				Sie können uns jederzeit kontaktieren, um Einzelheiten zu dieser Datenschutzrichtlinie und ihren früheren Versionen zu erfahren. Bei Fragen zu unserem Service und Ihren persönlichen Daten kontaktieren Sie uns bitte unter https://admin.sagmirja.de.
				<br/><br/>
				
				Gültig ab: 26. 08. 2023				
				<br/><br/>
				

			</div>
			<div class="pb-5"></div>
			<div class="pb-5"></div>
			<div class="pb-5"></div>
			<div class="pb-5"></div>
			<div class="pb-5"></div>	
			
			<div style="margin-bottom:20px;"></div>
		</div>

	<div th:replace="~{navigation :: footer_menu}"></div>
</div>	
</body>
</html>