<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head('SagMirJa', 'none')}">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
<div class="container-fluid">

	<div th:replace="~{navigation :: header_menu}"></div>
	
	<div class="m-5">	
		<h2 class="mt-5">Nutzungsbedingungen von SagMirJa</h2>
		<hr/><br>
		SagMirJa erleichtert das Treffen und die Kontaktaufnahme mit potenziellen Liebespartnern.
		<br><br>
			<div class="ml-5"><a href="#1"> 1.  Leistungsbeschreibung und Vertragsgegenstand</a></div>
			<div class="ml-5"><a href="#2"> 2.	Vertragsschluss</a></div>
			<div class="ml-5"><a href="#3"> 3.	Leistungsbeschreibung und Vertragsgegenstand</a></div>
			<div class="ml-5"><a href="#4"> 4.	Leistungserbringung durch UP</a></div>
			<div class="ml-5"><a href="#5"> 5.	Pflichten des Partners</a></div>
			<div class="ml-5"><a href="#6"> 6.	Zahlungsbedingungen</a></div>
			<div class="ml-5"><a href="#7"> 7.	Vertragslaufzeit und Kündigung</a></div>
			<div class="ml-5"><a href="#8"> 8.	Datenschutz</a></div>
			<div class="ml-5"><a href="#9"> 9.	Nutzungsrechte und Urheberrechte</a></div>
			<div class="ml-5"><a href="#10"> 10.	Haftungsbeschränkung</a></div>
			<div class="ml-5"><a href="#11"> 11.	Schadensersatz</a></div>
			<div class="ml-5"><a href="#12"> 12.	Vertraulichkeit</a></div>
			<div class="ml-5"><a href="#13"> 13.	Änderung der AGB</a></div>
			<div class="ml-5"><a href="#14"> 14.	Schlussbestimmungen</a></div>
			<br><br>
		<p class="pt-5" id="1"><b>1. Leistungsbeschreibung und Vertragsgegenstand</b></p>
		<hr>
		<p>
		1. Teilnehmer der Plattform sind Partner, Werbetreibende und UP. Werbetreibende sind natürliche oder juristische Personen, die auf der Plattform verschiedene eigene oder fremde Produkte zur Verfügung stellen. UP stellt Partnern auf der Plattform einzelne oder gebündelte Produkte („Angebote“) zur Verfügung. Partner sind natürliche oder juristische Personen, die Angebote auf eigenen oder fremden Websites, in einer E-Mail oder in der Eigenschaft eines mit einem weiteren Partner verbundenen Netzwerkbetreibers (im Folgenden „SubPublisher“ genannt) unter Verwendung von Werbe- oder Verkaufsförderungsmitteln wie z B. Banner, Produktdaten, Textlinks, E-Mails oder Videos im Rahmen des Suchmaschinenmarketings (im Folgenden „Werbemittel“). 
		</p>
		<p>
		2. Partner bewerben die Angebote durch die Platzierung von Affiliate-Links, die bei der Erstellung einer Kampagne (im Folgenden „Kampagne“ genannt) generiert werden, auf eigenen Websites oder Websites Dritter, in einer E-Mail, in ihrem eigenen Netzwerk oder Ähnlichem (im Folgenden „Kampagne“ genannt). als „Werbefläche“). Wenn ein Dritter, beispielsweise ein Endkunde, eine bestimmte vorher festgelegte Aktion auf der Plattform durchführt (nachfolgend „Conversion“ genannt), hat der Partner Anspruch auf eine Vergütung. Conversions sind vergütungsberechtigt werden in den einzelnen Angebotsbeschreibungen oder im Kampagnenerstellungsprozess definiert. Es ist auch möglich, Kombinationen verschiedener Conversions zu vergüten.
		</p>
		<p>
		3. Die Plattform überwacht und protokolliert die Conversions (nachfolgend „Tracking“ genannt), wobei die Plattform dem Partner einen Überblick darüber zur Verfügung stellt. Das Tracking ist entscheidend für die Identifizierung erfolgreicher Conversions und für die Berechnung der daraus resultierenden Vergütung.
		</p>
		<p>
		4. Die Teilnahme an der Plattform ist für Partner kostenlos.
		</p>
		<br><br><br>
		
		<p class="pt-5" id="2"><b>2. Vertragsschluss </b></p>
		<hr>
		<p>
		1. Um an der Plattform teilnehmen zu können, muss der Partner ein registriertes Mitglied sein.
		</p>
		<p>
		2. Auf der Plattform können sich juristische oder natürliche Personen (über 18 Jahre) registrieren. UP behält sich das Recht vor, die Identität des Partners zu überprüfen. Die Registrierung auf der Plattform ist nicht übertragbar.
		</p>
		<p>
		3. Durch den Abschluss der Registrierung und die Annahme dieser Allgemeinen Geschäftsbedingungen (im Folgenden „AGB“ genannt) übermitteln Partner eine Registrierungsanfrage für ihre Teilnahme an der Plattform (Erstellung eines Kontos). UP behält sich das Recht vor, einen Registrierungsantrag ohne Angabe von Gründen abzulehnen.
		</p>
		<p>
		4. Nimmt UP die Registrierung an, erhält der Partner eine Bestätigungs-E-Mail. Der Zugriff auf die Plattform und das Konto erfolgt durch Anklicken des Aktivierungslinks in der Bestätigungs-E-Mail und Eingabe der Zugangsdaten. Wenn der Partner das Konto nicht über den Aktivierungslink aktiviert, wird das Konto nach 60 Tagen automatisch gekündigt. Eine erneute Anmeldung ist möglich. Persönliche Daten und Informationen können auf der Plattform eingesehen, geändert und die Teilnahme an der Plattform vollständig gekündigt werden.
		</p>
		<p>
		5. Während der Laufzeit dieses Vertrages ist es dem Partner nicht gestattet, mit einzelnen Werbetreibenden der Plattform unter Umgehung von UP-Verträgen – sei es direkt oder indirekt – Verträge über die vertraglichen Leistungen abzuschließen oder entsprechende Verhandlungen zu führen eine Schlussfolgerung.
		</p>
		<br><br><br>
		
		<p class="pt-5" id="3"><b>3. Leistungsbeschreibung und Vertragsgegenstand</b></p>
		<hr>
		<p>
		1. Durch die Entscheidung, ein bestimmtes Angebot zu bewerben, akzeptiert der Partner alle zusätzlichen Anforderungen oder kampagnenspezifischen Geschäftsbedingungen, die in der Angebotsbeschreibung oder im Kampagnenerstellungsprozess erwähnt werden. Dies ist Bestandteil des Vertrages mit UP. Es steht UP frei, einem Partner die Werbung für ein Angebot abzulehnen. Ein Anspruch auf Zulassung besteht nicht; Es können auch keine Ansprüche wegen einer Nichtzulassung geltend gemacht werden.
		Dem Advertiser steht es frei, dem Publisher die Werbung für sein Angebot abzulehnen. Ein Anspruch auf Zulassung besteht nicht; Es können auch keine Ansprüche wegen einer Nichtzulassung geltend gemacht werden.
		</p>
		<p>
		2. Ist der Partner Betreiber eines Netzwerks von Sub-Publishern, stellt der Partner bei der Registrierung sicher, dass diese AGB seinen Sub-Publishern mitgeteilt werden und deren Einhaltung überwacht und durchgesetzt wird. Der Partner haftet für das Verhalten seiner Sub-Publisher. UP behält sich vor, einzelne Sub-Publisher von der Bewerbung einzelner Angebote auszuschließen oder diese generell abzulehnen.
		</p>
		<p>
		3. Der Partner erhält von UP eine erfolgsabhängige Vergütung. Wie hoch diese Vergütung im Einzelfall ausfällt und für welche Art von Conversions sie gewährt wird, hängt von den Angaben in der Angebotsbeschreibung bzw. im Kampagnenerstellungsprozess ab. Es werden nur Anzeigen vergütet, die den in diesem Vertrag vereinbarten Bedingungen und der spezifischen Angebotsbeschreibung oder dem Kampagnenerstellungsprozess entsprechen. Budget, Werbevolumenobergrenze und alle anderen Kampagnenanpassungen werden gültig, nachdem sie von UP bestätigt wurden. Eine Überschreitung der Höchstgrenzen wird nicht vergütet. Ein Anspruch des Partners auf eine darüber hinausgehende Aufwendungs- oder Kostenvergütung besteht nicht.
		</p>
		<p>
		4. Ein Anspruch auf Zahlung der erfolgsabhängigen Vergütung besteht nur, wenn sämtliche der folgenden Voraussetzungen erfüllt sind:
			• Die Werbeaktivität hat zu einer Conversion geführt;
			• Die Konvertierung wurde von UP verfolgt;
			• Die Werbeaktivität und die Konvertierung wurden vom Werbetreibenden genehmigt und von UP bestätigt;
			• Es liegt kein Missbrauch im Sinne des Abs. vor. 5 dieser AGB.
		</p>
		<p>
		5. UP kann ein Angebot oder eine Kampagne oder deren Vergütungsbedingungen mit einer Frist von 24 Stunden kündigen, ändern oder modifizieren. Ein Anspruch des Partners auf die Durchführung eines Angebots oder einer Aktion zu bestimmten Konditionen ist ausgeschlossen.
		</p>
		<p>
		</p>
		<p>
		</p>
		<br><br><br>
		
		
		<p class="pt-5" id="4"><b>4. Leistungserbringung durch UP</b></p>
		<hr>
		<p>
		1. UP ist bestrebt, die Plattform kontinuierlich weiterzuentwickeln. Im Zuge dieser Entwicklung können einzelne Anwendungen von UP verbessert, erweitert oder geringfügig modifiziert werden. UP ist berechtigt, aber nicht verpflichtet, die Plattform nach eigenem Ermessen weiterzuentwickeln und entsprechend der technischen Entwicklung anzupassen.
		</p>
		<p>
		2. Aufgrund der Durchführung notwendiger Wartungsarbeiten oder anderer Erweiterungen kann es vorkommen, dass bestimmte Funktionen vorübergehend nicht verfügbar sind. Dies führt auch zu einer teilweisen oder vollständigen Einstellung von Funktionen oder anderen Teilen des Dienstes, sofern dies nicht zu einer mehr als geringfügigen Änderung der Dienste der Plattform führt. Das Recht, Leistungen zu ändern, bleibt insbesondere dann vorbehalten, wenn die Änderung branchenüblich ist oder aufgrund einer Gesetzesänderung oder einer gerichtlichen Anordnung erforderlich ist.
		</p>
		<p>
		3. UP ist auch berechtigt, die Erbringung eigener Leistungen oder Teile davon auf dritte Dienstleister oder Erfüllungsgehilfen zu übertragen.
		</p>
		<br><br><br>
		
		
		<p class="pt-5" id="5"><b>5. Pflichten des Partners</b></p>
		<hr>		
		<p>
		1.	Anmeldung
		</p>		
		<p>
		1. Der Partner gewährleistet hiermit, dass die bei der Registrierung angegebenen Daten richtig und vollständig sind. Sollten sich nach der Registrierung zu irgendeinem Zeitpunkt die angegebenen Daten ändern, muss der Partner die auf der Plattform gespeicherten Daten entsprechend anpassen.
		</p>		
		<p>
		2. Der Partner verpflichtet sich, die Zugangsdaten zur Plattform (E-Mail-Adresse und Passwort) vertraulich zu behandeln, sie nicht an Dritte weiterzugeben und so aufzubewahren, dass Dritte keine Kenntnis davon erlangen. Es darf keinem Dritten gestattet werden, über diese Zugangsdaten die Schnittstellen der Plattform zu nutzen. Besteht der Verdacht, dass Dritte Kenntnis von den Zugangsdaten erlangt haben, ist UP unverzüglich zu benachrichtigen.
		</p>		
		<p>
		 Werbung
		</p>		
		<p>
		1. Der Partner gewährleistet, über die für die Vermarktung der Werbeflächen erforderlichen Rechte zu verfügen.
		</p>		
		<p>
		2. Bei der Werbung für Angebote oder der Einbindung entsprechender Werbeanzeigen in die Werbefläche gewährleistet der Partner, dass alle Werbemaßnahmen durchgeführt werden
			• keine Rechte Dritter (insbesondere Urheber-, Marken-, Persönlichkeitsrechte oder ähnliche Rechte) verletzen;
			• Nicht gegen andere gesetzliche Bestimmungen (insbesondere das Wettbewerbsrecht) verstoßen oder
			• Sie dürfen nicht in illegalen Kontexten platziert werden, insbesondere nicht in Kontexten illegaler Dateifreigabe oder anderer Urheberrechte verletzender Seiten, Seiten, die Kinderpornografie, Rassismus, Gewalt, Missbrauch, Hassreden oder andere anstößige, verleumderische oder verleumderische Inhalte fördern oder anderweitig anzeigen.
		</p>		
		<p>
		3.	Traffic restrictions specified in Offers or in the Campaign creation process have to be explicitly followed by the Partner. Violation of traffic restrictions constitutes a significant breach of Contract. The following traffic restrictions apply to any and all advertising activity:
			•	Spyware is not allowed.
			•	VPN and Proxy Traffic are not allowed.
			•	Adware, Incentivized Traffic and Virtual Currency Traffic are only allowed if expressly mentioned in an Offer or Campaign creation process.
			•	Streaming or Torrent sites are not allowed.
			•	SMS marketing is not allowed unless expressly mentioned in the Offer or Campaign creation process.		
		</p>		
		<p>
		3.	Email Marketing
		</p>		
		<p>
		1.	Emails containing Advertising Material will be sent only to individuals who have given prior explicit consent to receiving promotional emails. The Partner must be able to show complete proof of when and where the relevant consent via Double-Opt-In (“DOI”) has been collected. The DOI consent has to be collected separately from other declarations.
		</p>
		<p>
		2.	A comparison of email blacklists is made before every email dispatch (including blacklists maintained by the Partner or its Sub-Publishers as well as blacklists maintained by UP or the Advertiser). If the Partner uses multiple lists or alternatively works with multiple Sub-Publishers, double dispatches to the same email address must be avoided.
		</p>
		<p>
		3. E-Mails im Namen von UP oder des Advertisers sind ausschließlich als Empfehlungs-E-Mails zu versenden, wobei der Partner als Versender fungiert. Dies muss klar angegeben und erkennbar sein.
		</p>
		<p>
		4. Die Absenderadresse ist die des Partners. Der Name und die Absenderadresse enthalten weder Produkt- oder Leistungsbeschreibungen noch den Namen des Advertisers oder UP.
		</p>
		<p>
		5. In der Fußzeile jeder E-Mail muss ein Impressum eingefügt werden. Das Impressum muss leicht erkennbar sein, die gesetzlich vorgeschriebenen Angaben des Partners bzw. seines Unterverlegers enthalten und nicht nur über einen Link erreichbar sein. Das Impressum kann Informationen des Partners oder seines Unterherausgebers enthalten. Das Impressum darf keine Informationen über den Werbetreibenden oder UP enthalten.
		</p>
		<p>
		6. Ein Abmeldetext sowie ein Abmeldelink müssen vom Partner oder seinem Sub-Publisher bereitgestellt werden. Die Abmeldung muss ohne Umwege möglich sein; Double-Opt-Out oder Zwangs-Login sind nicht zulässig. Der Partner verpflichtet sich, alle E-Mail-Adressen offenzulegen, deren Inhaber auf den Abmeldelink geklickt hat, um zukünftige rechtliche Schritte durch Empfänger zu vermeiden, die geäußert haben, dass sie keine weiteren Werbe-E-Mails an UP erhalten möchten.
		</p>
		<p>
		7. Der Partner muss die im Angebot genannte E-Mail-Adresse in die vom Partner zu verwendende Mailingliste aufnehmen.
		</p>
		<p>
		8. Der Partner wird die folgenden Einschränkungen und Richtlinien bezüglich Kundenbeschwerden beachten:
			• Eine funktionierende Antwortadresse und ein funktionierendes Postfach müssen gewährleistet sein. Der Inhalt des Posteingangs der Antwortadressen darf nicht gelöscht werden.
			• Fragen und Beschwerden werden werktags innerhalb von 48 Stunden beantwortet.
			• Wenn eine Beschwerde bezüglich einer Sendung an den Advertiser oder UP gerichtet ist, wird die Beschwerde an den Partner weitergeleitet. Der Partner garantiert, dem Endkunden bzw. einer entsprechenden Agentur des Endkunden innerhalb von 24 Arbeitsstunden zu antworten.
			• Für jede weitergeleitete Kundenanfrage muss der Partner UP eine Bestätigung einer gültigen DOI-Einwilligung vorlegen.
			• Ein substantiierter Nachweis des DOI wird vom Partner gegenüber dem Endnutzer bzw. der jeweiligen Agentur erbracht.
			• Jede E-Mail muss eine Support-Adresse oder ein Beschwerde- oder Kontaktformular für den Kunden enthalten.
		</p>
		<p>
		4. Missbrauch
		</p>
		<p>
		1. Jede Form des Missbrauchs, insbesondere die Erlangung von Konvertierungen durch unlautere oder unzulässige Mittel, die gegen geltendes Recht, diese AGB oder etwaige zusätzliche angebotsspezifische Bedingungen verstoßen, ist untersagt.
		</p>
		<p>
		2. Dem Partner ist es insbesondere untersagt, durch die im Rahmen der Teilnahme an der Plattform zur Verfügung gestellten Werbemittel – sei es selbst oder durch einen Dritten – zu versuchen, eine Vergütung dadurch zu erlangen, dass er eine oder mehrere der folgenden Praktiken herbeiführt oder die Verwendung von Tracking-Links und/oder anderen technischen Mitteln:
			• Vortäuschen von Conversions, die tatsächlich nicht stattgefunden haben, z.B. durch unbefugte Bereitstellung von Daten Dritter oder durch Angabe falscher oder nicht vorhandener Daten bei der Bestellung von Dienstleistungen oder bei der Online-Registrierung;
			• Verwendung von Werbeformen, die ein Tracking ermöglichen, das Werbematerial jedoch nicht in einer wahrnehmbaren Weise anzeigen oder das Werbematerial in einer Art und Weise oder Größe anzeigen, die nicht vom Werbetreibenden angegeben wurde oder
			• Verwendung von Suchbegriffen, die dem Werbetreibenden oder Dritten rechtmäßig gehören und insbesondere markenrechtlich geschützt sind, in Suchmaschinen, Anzeigen oder der Vermarktung von Werbeflächen ohne ausdrückliche vorherige Zustimmung des Werbetreibenden.
		</p>
		<p>
		5. Verletzung vertraglicher oder gesetzlicher Pflichten
		</p>
		<p>
		1. Jede Form von Missbrauch kann zur sofortigen Sperrung des Kontos des Partners führen. Verstößt die Werbung gegen diese AGB, erfolgt keine Vergütung.
		</p>
		<p>
		2. Im Falle von Kundenbeschwerden oder Verletzungen von Rechten Dritter durch den Partner haben UP und der Advertiser ausdrücklich das Recht, die Identität des Partners gegenüber dem Geschädigten offenzulegen.
		</p>
		<p>
		3. Der Partner verpflichtet sich, UP für jeden Fall der Nichteinhaltung der Bestimmungen dieses Vertrages eine Vertragsstrafe zu zahlen, deren Höhe nach alleinigem Ermessen von UP festgelegt wird und sich an den Umständen des konkreten Einzelfalls orientiert und die bis zu 10.000 beträgt EUR.
		</p>	
		<br><br><br>
		
		<p class="pt-5" id="6"><b>6. Zahlungsbedingungen</b></p>
		<hr>
		<p>
		1. UP richtet das Konto des Partners ein, über das die Auszahlung der Vergütung abgewickelt wird. Die Abrechnung erfolgt im Rahmen eines Gutschriftsverfahrens, bei dem UP die jeweilige Vergütung über die gewählte Zahlungsart des Partners gutschreibt. Das Guthaben auf dem Konto des Partners wird nicht verzinst. Bei Erreichen des Mindestauszahlungsbetrages von 50 EUR (bzw. 100 EUR bei einem Konto, das nicht nach dem IBAN/BIC-System geführt wird) erfolgt spätestens 15 Tage nach Ablauf des jeweiligen Abrechnungszeitraums eine entsprechende elektronische Gutschrift. Der Partner kann die Gutschrift auf der Plattform einsehen und herunterladen.
		</p>
		<p>
		2. Sollte der Mindestauszahlungsbetrag bis zum Monatsende nicht erreicht sein, verbleibt das Guthaben auf dem Konto des Partners und wird auf den nächsten Monat vorgetragen. Eine Auszahlung eines Restbetrages unterhalb des Mindestauszahlungsbetrages kann auf Wunsch des Partners gegen Erstattung sämtlicher Bankgebühren erfolgen. Die Gebühr wird vom zu zahlenden Betrag einbehalten.
		</p>
		<p>
		3. Die Freigabe einer Gutschrift kann nur erfolgen, wenn das Konto des Partners auf der Plattform hinsichtlich aller für die Zahlung erforderlichen Daten überprüft und legitimiert wurde. Die erforderlichen Angaben sind auf der Plattform aufgeführt, wo relevante Dokumente zur Überprüfung hochgeladen werden müssen. UP kann nur rechtzeitig freigegebene Gutschriften berücksichtigen.
		</p>
		<br><br><br>
		
		<p class="pt-5" id="7"><b>7. Vertragslaufzeit und Kündigung</b></p>
		<hr>
		<p>
		1. Der Vertrag über die Teilnahme an der Plattform wird auf unbestimmte Zeit geschlossen. Die Parteien können den Vertrag jederzeit schriftlich kündigen.
		</p>
		<p>
		2. Umrechnungen, die bis zum Kündigungsdatum vom Partner getätigt wurden, werden nach Zugang der Kündigung gemäß den Bestimmungen dieses Vertrages abgewickelt. Bei Beendigung dieses Vertrages wird das verbleibende Guthaben im nächsten Abrechnungszeitraum an den Partner ausgezahlt. Beträgt das Guthaben zum Zeitpunkt der Vertragsbeendigung 5 EUR oder weniger, erfolgt keine Auszahlung. Eine Vertragsstrafe bleibt einbehalten, wenn die Teilnahme des Partners aufgrund von Missbrauch beendet wurde.
		</p>
		<br><br><br>
		
		<p class="pt-5" id="8"><b>8. Datenschutz</b></p>
		<hr>
		<p>
		1. Der Schutz personenbezogener Daten hat für UP einen hohen Stellenwert – gleichzeitig ist die Erhebung, Verarbeitung und Nutzung dieser Daten eine wesentliche Voraussetzung für den Betrieb der Plattform. UP erhebt, verarbeitet und nutzt personenbezogene Daten ausschließlich unter Beachtung der geltenden Datenschutzgesetze. Die Parteien stimmen der Verarbeitung personenbezogener Daten gemäß den Anforderungen der Datenschutzgesetze zu.
		</p>
		<p>
		2. UP ist daher berechtigt, personenbezogene Daten zu erheben und diese zu verwenden, soweit dies erforderlich ist, um den Nutzern die Teilnahme an der Plattform zu ermöglichen:
			• UP erhebt, verarbeitet und nutzt insbesondere die bei der Registrierung abgefragten Daten sowie die bei der Teilnahme am Netzwerk anfallenden Daten.
			• UP nutzt die Kontaktdaten auch, um den Partner per E-Mail über seine Teilnahme an der Plattform zu kontaktieren. Der Empfang der sogenannten Betreibernachrichten – E-Mails des Betreibers des Netzwerks – kann in der Plattformoberfläche deaktiviert werden. UP empfiehlt jedoch die Aktivierung des Empfangs, da über diesen Weg wesentliche Informationen, wie z. B. Änderungen im Vergütungssystem, kommuniziert werden sollen.
		</p>
		<p>
		3. Wenn eine Einwilligung des Nutzers für Cookies oder andere Technologien gemäß den Bestimmungen der DSGVO oder anderer EU-Rechtsvorschriften erforderlich ist, verpflichten sich beide Parteien, diese einzuholen.
		</p>
		<p>
		4. Der Partner hat Maßnahmen gemäß DSGVO, insbesondere Artikel 12, 13, 14, 15 und 29, zu ergreifen, um den Umgang und die Verarbeitung personenbezogener Daten für die betroffene Person transparent und leicht zugänglich zu gestalten.
		</p>
		<p>
		5. Die Parteien gewährleisten die Sicherheit und Vertraulichkeit personenbezogener Daten und legen dementsprechend angemessene technische und organisatorische Maßnahmen fest (Art. 32 DSGVO).
		</p>
		<p>
		6. Wenn ein Unterauftragsverarbeiter im Zusammenhang mit der DSGVO eingesetzt wird, bleibt der Auftragsverarbeiter gegenüber dem Verantwortlichen in vollem Umfang für die Erfüllung der Pflichten des Unterauftragsverarbeiters und die Bereitstellung der Informationen über den Unterauftragsverarbeiter für den Kunden verantwortlich. Eine Mitteilung zwischen den Parteien wird akzeptiert.
		</p>
		<p>
		7. Die Parteien arbeiten bei der Auskunftserteilung im Zusammenhang mit personenbezogenen Daten zusammen, insbesondere zum Recht auf Auskunft, Löschung (Art. 13-20 DSGVO) etc.
		</p>
		<p>
		8. Wenn eine Partei Kenntnis von einer Verletzung des Schutzes personenbezogener Daten erhält, verpflichten sich beide Parteien, die andere Partei darüber zu informieren (welche Art von Daten und wie viele) und die ergriffenen Maßnahmen zu beschreiben.
		</p>
		<p>
		9. Zusätzlich zu den örtlichen Gegebenheiten erhebt, verarbeitet und nutzt UP personenbezogene Daten des Nutzers, wie in der Datenschutzerklärung beschrieben.
		</p>
		<br><br><br>
		
		<p class="pt-5" id="9"><b>9. Nutzungsrechte und Urheberrechte</b></p>
		<hr>
		<p>
		1. Die Plattform und ihre Anwendungen sind durch geistige Eigentumsrechte oder andere gesetzliche Bestimmungen geschützt. UP räumt dem Partner ein widerrufliches, nicht ausschließliches und nicht übertragbares Recht ein, die im Rahmen der Plattform bereitgestellten Anwendungen und Werbemittel sowie die darin enthaltenen Daten zum Zwecke der Teilnahme an der Plattform zu nutzen. Im Falle einer Kündigung dieses Vertrages – gleich aus welchem ​​Grund – erlischt das Nutzungsrecht.
		</p>
		<p>
		2. Partner dürfen die Werbemittel und deren Quellcodes weder visuell, noch technisch oder inhaltlich verändern, noch ist es ihnen gestattet, die Werbemittel und deren Quellcodes in sonstiger Weise zu verarbeiten, es sei denn, UP oder der jeweilige Advertiser haben dies getan zuvor ihre Einwilligung erteilt haben.
			Falls der Partner es vorzieht, sein eigenes Werbematerial zu verwenden, muss der Partner das Urheberrecht oder eine Lizenz für jeden Teil des Materials besitzen. Conversions, die durch die Verwendung von Werbematerial generiert werden, das diesem Abschnitt nicht entspricht, werden nicht bezahlt.
		</p>
		<p>
		3. Weitergehende Nutzungsrechte werden den Partnern nicht eingeräumt. Partner sind nicht berechtigt, die Anwendung oder die darin enthaltenen Daten an Dritte weiterzugeben, noch sind sie berechtigt, Dritten den Zugriff auf solche Anwendungen oder Daten zu gestatten, noch dürfen sie solche Anwendungen oder Daten verändern, sonst bearbeiten oder in ein anderes Werk einbinden nutzen oder daraus eigene Datenbanken und/oder Informationsdienste erstellen.
		</p>
		<p>
		4. Der Partner ist unter keinen Umständen berechtigt, den Namen, die Marke oder das Logo von UP, Werbetreibenden oder Kunden ohne vorherige schriftliche Zustimmung zu verwenden.
		</p>
		<br><br><br>
		
		<p class="pt-5" id="10"><b>10. Haftungsbeschränkung</b></p>
		<hr>
		<p>
		1. UP übernimmt keine Haftung für den Inhalt fremder Websites und haftet auch nicht für etwaige Schäden oder sonstige Ausfälle, die auf etwaige Mängel der Software, Hardware der Teilnehmer oder deren Inkompatibilität zurückzuführen sind; darüber hinaus haftet UP auch nicht für Schäden, die aus der Nichtverfügbarkeit der Dienste resultieren.
		</p>
		<p>
		2. UP haftet – gleich aus welchem ​​Rechtsgrund – ausschließlich
			• bei Vorsatz oder grober Fahrlässigkeit eines gesetzlichen Vertreters oder sonstigen Erfüllungsgehilfen;
			• Bei schuldhafter Verletzung einer wesentlichen Vertragspflicht (wobei der abstrakte Begriff der wesentlichen Vertragspflicht eine solche Pflicht bezeichnet, deren ordnungsgemäße Durchführung den Vertrag überhaupt erst ermöglicht und auf deren Erfüllung die andere Partei vertrauen darf). wegen der Verzögerung der Leistung oder der Unmöglichkeit der Leistung nicht zu vertreten.
		</p>
		<p>
		3. Für Vermögens- und Sachschäden ist die Haftung von UP auf die Höhe des typischerweise vorhersehbaren Schadens begrenzt.
		</p>
		<p>
		4. Die vorstehenden Haftungsbeschränkungen gelten nicht in den Fällen zwingender gesetzlicher Haftung, insbesondere der Haftung nach dem Produkthaftungsgesetz, der Haftung für eine übernommene Garantie sowie der Haftung wegen vorsätzlicher oder fahrlässiger Verletzung des Lebens, des Körpers oder der Gesundheit.
		</p>
		<p>
		5. Die Nutzung der Plattform und ihrer Anwendungen erfordert den Einsatz besonderer technischer Systeme wie Endgeräte, Softwareprogramme, Übertragungsnetze, Telekommunikations- und sonstige Dienste Dritter, die mit weiteren Kosten verbunden sein können. Die Plattform stellt solche Endbenutzergeräte, Softwareprogramme, Kommunikationskanäle, Telekommunikationsdienste oder andere Dienste nicht zur Verfügung und übernimmt daher keine Haftung für solche Dienste, die von Dritten bereitgestellt werden.
		</p>
		<br><br><br>
		
		<p class="pt-5" id="11"><b>11. Schadensersatz</b></p>
		<hr>
		<p>
		Die Einhaltung dieses Vertrags ist für den ordnungsgemäßen Betrieb der Plattform von erheblicher Bedeutung. Im Falle einer schwerwiegenden Vertragsverletzung behält sich UP das Recht vor, neben der Kündigung des Vertrages auch weitere rechtliche Schritte einzuleiten.
		Der Partner stellt UP und seine Advertiser von sämtlichen Schadensersatzansprüchen, Haftungsansprüchen, Abmahnungen, Unterlassungserklärungen Dritter und sonstigen Ansprüchen sowie allen damit verbundenen Kosten, Aufwendungen und Aufwendungen frei Dies gilt als Folge des Verhaltens (einschließlich Unterlassungen) des Partners als dessen Ursache. Dies gilt insbesondere bei Verletzung von Urheberrechten, Markenrechten, Wettbewerbsrechten, Datenschutz- und Persönlichkeitsrechten oder Rechten Dritter.
		Zu diesen Kosten zählen der Ersatz von Schäden Dritter und die Erstattung weiterer Aufwendungen. UP ist berechtigt, vom Partner für diese Kosten Vorauszahlungen zu verlangen.
		</p>
		<br><br><br>
		
		<p class="pt-5" id="12"><b>12. Vertraulichkeit</b></p>
		<hr>
		<p>
		Sofern in diesem Vertrag oder mit Zustimmung der offenlegenden Partei nichts anderes bestimmt ist, erklärt sich die empfangende Partei damit einverstanden, dass alle Informationen, einschließlich, aber nicht beschränkt auf die Bedingungen dieses Vertrags, Geschäfts- und Finanzinformationen, Benutzerdaten, Kunden- und Lieferantenlisten, technische, Preis- und Verkaufsinformationen über den Werbetreibenden oder seine verbundenen Unternehmen und Geschäftspartner, die von ihnen oder in deren Namen bereitgestellt werden, bleiben streng vertraulich und geheim und dürfen von der empfangenden Partei weder direkt noch indirekt für andere Zwecke als die Teilnahme genutzt werden auf der Plattform, außer und ausschließlich in dem Umfang, in dem solche Informationen allgemein bekannt oder der Öffentlichkeit über eine andere Quelle als die offenlegende Partei zugänglich sind. Die Bestimmung dieser Klausel gilt auch nach Beendigung dieses Vertrags.
		</p>
		<br><br><br>
		
		<p class="pt-5" id="13"><b>13. Änderung der AGB</b></p>
		<hr>
		<p>
		1. UP behält sich hiermit das Recht vor, jederzeit solche Bestimmungen dieser AGB zu ändern, die hinsichtlich ihres Umfangs oder ihrer Art geringfügig sind; und zwar ohne Angabe von Gründen, sofern die Änderungen nicht zu einer Neugestaltung des Vertrages in seiner Gesamtheit führen. Die geänderten Bedingungen werden mindestens zwei Wochen vor ihrem Inkrafttreten per E-Mail mitgeteilt. Widerspricht der Partner den Änderungen der AGB nicht innerhalb von vier Wochen nach Erhalt der Mitteilungs-E-Mail in Textform, gelten die entsprechenden Änderungen als angenommen. Auf die Frist für die Einwendung wird UP unter deutlichem Hinweis auf die Vierwochenfrist besonders hinweisen.
		</p>
		<p>
		2. UP ist berechtigt, den Account des Partners auf der Plattform zu sperren, wenn der Partner Änderungen der AGB widerspricht. Die Sperrung des Kontos kann so lange aufrechterhalten werden, bis UP und der Partner einen neuen Vertrag abgeschlossen haben oder der Partner die geänderten AGB akzeptiert hat.
		</p>
		<br><br><br>
		
		<p class="pt-5" id="14"><b>14. Schlussbestimmungen</b></p>
		<hr>
		<p>
		1. Dieser Vertrag und seine Anhänge stellen die gesamte Vereinbarung zwischen den Parteien dar und ersetzen alle früheren Verträge (ob mündlich oder schriftlich), die sich auf die geplante Geschäftsbeziehung beziehen. Keine Änderung dieses Vertrags (oder eines anderen Anhangs) ist gültig, es sei denn, sie erfolgt schriftlich und wird von allen Parteien unterzeichnet. Entgegenstehende AGB des Partners erlangen nur bei schriftlicher Bestätigung durch UP Gültigkeit.
		</p>
		<p>
		2. Die Übertragung der Rechte und Pflichten aus diesem Vertrag ist nur mit vorheriger schriftlicher Zustimmung von UP möglich.
		</p>
		<p>
		3. Durch den vorliegenden Vertrag wird keine Gesellschaft gegründet, er ermächtigt keine der Parteien, im Namen beider Parteien gemeinsam oder im Namen der jeweils anderen Partei rechtsverbindliche Erklärungen abzugeben, noch ermächtigt er eine der Parteien zur Abgabe solcher Erklärungen die jeweilige andere Partei in irgendeiner Weise zu verpflichten oder in sonstiger Weise zu vertreten.
		</p>
		<p>
		4. Für diese AGB und das Vertragsverhältnis mit dem Partner gilt ausschließlich das Recht von Deutschland.
		</p>
		<p>
		5. Als Gerichtsstand wird Deutschland vereinbart.
		</p>
		<p>
		6. Sollten einzelne Bestimmungen dieser AGB ganz oder teilweise unwirksam sein oder werden, so wird hiervon die Wirksamkeit der übrigen Bestimmungen nicht berührt. Anstelle der unwirksamen Bestimmung soll eine neue Regelung treten, die rechtswirksam ist und im wirtschaftlichen Sinn und Zweck der unwirksamen Bestimmung im wirtschaftlichen Sinne am nächsten kommt.
		</p>

		<br><br><br>
	</div>
	<div class="pb-5"></div>
	<div class="pb-5"></div>
	<div class="pb-5"></div>
	<div class="pb-5"></div>
	<div class="pb-5"></div>

	<div th:replace="~{navigation :: footer_menu}"></div>
</div>	
</body>
</html>